In [422]:
import pandas as pd

In [423]:
df_train = pd.read_csv("../data/train.csv")
df_test = pd.read_csv("../data/test.csv")

In [424]:
target_col = ['사망자수','중상자수','경상자수','부상자수']

In [425]:
use_col = df_test.columns.tolist()
use_col.extend(target_col)

In [426]:
df_train = df_train[use_col]

In [427]:
df_train.head()

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수
0,ACCIDENT_00000,2019-01-01 00,화요일,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,0,1,0,0
1,ACCIDENT_00001,2019-01-01 00,화요일,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,0,0,1,0
2,ACCIDENT_00002,2019-01-01 01,화요일,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,0,0,1,0
3,ACCIDENT_00003,2019-01-01 02,화요일,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,0,1,0,0
4,ACCIDENT_00004,2019-01-01 04,화요일,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,0,0,1,0

In [428]:
df_test.head()

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형
0,ACCIDENT_39609,2022-01-01 01,토요일,맑음,대구광역시 수성구 상동,교차로 - 교차로안,건조,차대사람
1,ACCIDENT_39610,2022-01-01 01,토요일,맑음,대구광역시 수성구 지산동,단일로 - 기타,건조,차대사람
2,ACCIDENT_39611,2022-01-01 04,토요일,맑음,대구광역시 수성구 수성동2가,교차로 - 교차로안,건조,차대차
3,ACCIDENT_39612,2022-01-01 04,토요일,맑음,대구광역시 수성구 신매동,단일로 - 기타,건조,차대차
4,ACCIDENT_39613,2022-01-01 06,토요일,맑음,대구광역시 달서구 감삼동,교차로 - 교차로안,건조,차대차

# ID

In [429]:
df_train.drop(['ID'], axis = 1,inplace = True)
df_test.drop(['ID'], axis = 1,inplace = True)

# 사고일시

In [430]:
df_train.drop(['사고일시'], axis = 1,inplace = True)
df_test.drop(['사고일시'], axis = 1,inplace = True)

# 요일

In [431]:
day_map = {
    '월요일': '평일',
    '화요일' : '평일',
    '수요일' : '평일',
    '목요일' : '평일',
    '금요일' : '평일',
    '토요일' : '주말',
    '일요일' : '주말'
}

In [432]:
df_train['요일'] = df_train['요일'].replace(day_map)

df_test['요일'] = df_test['요일'].replace(day_map)

In [433]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['요일'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['요일'])], axis=1)

In [434]:
df_train.drop(['요일'], axis = 1,inplace = True)
df_test.drop(['요일'], axis = 1,inplace = True)

In [435]:
df_train.head()

  기상상태            시군구      도로형태 노면상태  사고유형  사망자수  중상자수  경상자수  부상자수  주말  평일
0   맑음   대구광역시 중구 대신동  단일로 - 기타   건조  차대사람     0     1     0     0   0   1
1   흐림  대구광역시 달서구 감삼동  단일로 - 기타   건조  차대사람     0     0     1     0   0   1
2   맑음  대구광역시 수성구 두산동  단일로 - 기타   건조  차대사람     0     0     1     0   0   1
3   맑음   대구광역시 북구 복현동  단일로 - 기타   건조   차대차     0     1     0     0   0   1
4   맑음   대구광역시 동구 신암동  단일로 - 기타   건조   차대차     0     0     1     0   0   1

In [436]:
df_test.head()

  기상상태              시군구        도로형태 노면상태  사고유형  주말  평일
0   맑음     대구광역시 수성구 상동  교차로 - 교차로안   건조  차대사람   1   0
1   맑음    대구광역시 수성구 지산동    단일로 - 기타   건조  차대사람   1   0
2   맑음  대구광역시 수성구 수성동2가  교차로 - 교차로안   건조   차대차   1   0
3   맑음    대구광역시 수성구 신매동    단일로 - 기타   건조   차대차   1   0
4   맑음    대구광역시 달서구 감삼동  교차로 - 교차로안   건조   차대차   1   0

# 기상상태

In [437]:
df_train['기상상태'].value_counts()

맑음    36181
비      2627
흐림      729
기타       56
안개        8
눈         8
Name: 기상상태, dtype: int64

In [438]:
df_test['기상상태'].value_counts()

맑음    10321
비       394
흐림      207
기타       31
눈        10
Name: 기상상태, dtype: int64

In [439]:
df_train.drop(df_train[df_train['기상상태'] == '안개'].index, axis = 0, inplace = True)

df_train.reset_index(drop=True, inplace = True)

In [440]:
df_train['기상상태'].value_counts()

맑음    36181
비      2627
흐림      729
기타       56
눈         8
Name: 기상상태, dtype: int64

In [441]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['기상상태'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['기상상태'])], axis=1)

df_train.drop(['기상상태'], axis=1, inplace = True)
df_test.drop(['기상상태'], axis=1, inplace = True)

In [442]:
df_train.head()

,시군구,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수,주말,평일,기타,눈,맑음,비,흐림
0,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,0,1,0,0,0,1,0,0,1,0,0
1,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,0,0,1,0,0,1,0,0,0,0,1
2,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,0,0,1,0,0,1,0,0,1,0,0
3,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,0,1,0,0,0,1,0,0,1,0,0
4,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,0,0,1,0,0,1,0,0,1,0,0

In [443]:
df_test.head()

               시군구        도로형태 노면상태  사고유형  주말  평일  기타  눈  맑음  비  흐림
0     대구광역시 수성구 상동  교차로 - 교차로안   건조  차대사람   1   0   0  0   1  0   0
1    대구광역시 수성구 지산동    단일로 - 기타   건조  차대사람   1   0   0  0   1  0   0
2  대구광역시 수성구 수성동2가  교차로 - 교차로안   건조   차대차   1   0   0  0   1  0   0
3    대구광역시 수성구 신매동    단일로 - 기타   건조   차대차   1   0   0  0   1  0   0
4    대구광역시 달서구 감삼동  교차로 - 교차로안   건조   차대차   1   0   0  0   1  0   0

# 시군구

In [444]:
df_train['구'] = ''

for i in range(len(df_train)):
    df_train.iloc[i, 15] = df_train.iloc[i, 0].split()[1]

df_train.drop(['시군구'], axis=1, inplace = True)

In [445]:
df_test['구'] = ''

for i in range(len(df_test)):
    df_test.iloc[i, 11] = df_test.iloc[i, 0].split()[1]

df_test.drop(['시군구'], axis=1, inplace = True)

In [446]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['구'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['구'])], axis=1)

In [447]:
df_train.head()

,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수,주말,평일,기타,...,흐림,구,남구,달서구,달성군,동구,북구,서구,수성구,중구
0,단일로 - 기타,건조,차대사람,0,1,0,0,0,1,0,...,0,중구,0,0,0,0,0,0,0,1
1,단일로 - 기타,건조,차대사람,0,0,1,0,0,1,0,...,1,달서구,0,1,0,0,0,0,0,0
2,단일로 - 기타,건조,차대사람,0,0,1,0,0,1,0,...,0,수성구,0,0,0,0,0,0,1,0
3,단일로 - 기타,건조,차대차,0,1,0,0,0,1,0,...,0,북구,0,0,0,0,1,0,0,0
4,단일로 - 기타,건조,차대차,0,0,1,0,0,1,0,...,0,동구,0,0,0,1,0,0,0,0

In [448]:
df_test.head()

,도로형태,노면상태,사고유형,주말,평일,기타,눈,맑음,비,흐림,구,남구,달서구,달성군,동구,북구,서구,수성구,중구
0,교차로 - 교차로안,건조,차대사람,1,0,0,0,1,0,0,수성구,0,0,0,0,0,0,1,0
1,단일로 - 기타,건조,차대사람,1,0,0,0,1,0,0,수성구,0,0,0,0,0,0,1,0
2,교차로 - 교차로안,건조,차대차,1,0,0,0,1,0,0,수성구,0,0,0,0,0,0,1,0
3,단일로 - 기타,건조,차대차,1,0,0,0,1,0,0,수성구,0,0,0,0,0,0,1,0
4,교차로 - 교차로안,건조,차대차,1,0,0,0,1,0,0,달서구,0,1,0,0,0,0,0,0

# 도로형태

In [143]:
df_train['도로형태'].value_counts()

단일로 - 기타           19485
교차로 - 교차로안          9931
교차로 - 교차로부근         5746
기타 - 기타             1986
교차로 - 교차로횡단보도내      1474
단일로 - 지하차도(도로)내      309
주차장 - 주차장            236
단일로 - 교량             232
단일로 - 고가도로위          138
단일로 - 터널              64
미분류 - 미분류              8
Name: 도로형태, dtype: int64

In [146]:
df_test['도로형태'].value_counts()

단일로 - 기타           5039
교차로 - 교차로안         2540
교차로 - 교차로부근        1673
기타 - 기타             752
교차로 - 교차로횡단보도내      480
단일로 - 지하차도(도로)내     273
단일로 - 교량             74
주차장 - 주차장            64
단일로 - 고가도로위          52
단일로 - 터널             15
미분류 - 미분류             1
Name: 도로형태, dtype: int64

In [449]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['도로형태'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['도로형태'])], axis=1)

df_train.drop(['도로형태'], axis=1, inplace = True)
df_test.drop(['도로형태'], axis=1, inplace = True)

# 노면상태

In [148]:
df_train['노면상태'].value_counts()

건조       36420
젖음/습기     3100
기타          58
서리/결빙       25
침수           3
적설           3
Name: 노면상태, dtype: int64

In [149]:
df_test['노면상태'].value_counts()

건조       10394
젖음/습기      524
기타          35
서리/결빙        7
침수           2
적설           1
Name: 노면상태, dtype: int64

In [453]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['노면상태'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['노면상태'])], axis=1)

df_train.drop(['노면상태'], axis=1, inplace = True)
df_test.drop(['노면상태'], axis=1, inplace = True)

# 사고유형

In [152]:
df_train['사고유형'].value_counts()

차대차     31785
차대사람     6833
차량단독      991
Name: 사고유형, dtype: int64

In [153]:
df_test['사고유형'].value_counts()

차대차     8559
차대사람    2079
차량단독     325
Name: 사고유형, dtype: int64

In [454]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['사고유형'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['사고유형'])], axis=1)

df_train.drop(['사고유형'], axis=1, inplace = True)
df_test.drop(['사고유형'], axis=1, inplace = True)

In [455]:
df_train.head()

,사망자수,중상자수,경상자수,부상자수,주말,평일,기타,눈,맑음,비,...,주차장 - 주차장,건조,기타,서리/결빙,적설,젖음/습기,침수,차대사람,차대차,차량단독
0,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
1,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
2,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
3,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0

In [456]:
df_train.to_csv("../data/df_train.csv", encoding='utf-8')
df_test.to_csv("../data/df_test.csv", encoding='utf-8')