In [1]:
import pandas as pd

In [54]:
df_train = pd.read_csv("../data/train.csv")
df_test = pd.read_csv("../data/test.csv")

target_col = ['사망자수','중상자수','경상자수','부상자수']

use_col = df_test.columns.tolist()
use_col.extend(target_col)

df_train = df_train[use_col]

In [55]:
df_train.head()

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수
0,ACCIDENT_00000,2019-01-01 00,화요일,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,0,1,0,0
1,ACCIDENT_00001,2019-01-01 00,화요일,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,0,0,1,0
2,ACCIDENT_00002,2019-01-01 01,화요일,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,0,0,1,0
3,ACCIDENT_00003,2019-01-01 02,화요일,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,0,1,0,0
4,ACCIDENT_00004,2019-01-01 04,화요일,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,0,0,1,0

# ID

In [56]:
df_train.drop(['ID'], axis = 1,inplace = True)
df_test.drop(['ID'], axis = 1,inplace = True)

# 사고일시

In [57]:
df_train['사고일시'].head()

0    2019-01-01 00
1    2019-01-01 00
2    2019-01-01 01
3    2019-01-01 02
4    2019-01-01 04
Name: 사고일시, dtype: object

In [58]:
df_train['사고일시'].str.split(expand=True)[1].value_counts()

18    3398
17    2772
19    2739
16    2529
15    2374
14    2342
13    2198
20    2154
12    2104
11    2016
08    1924
10    1803
21    1749
09    1735
22    1506
07    1213
23    1096
00     828
06     750
01     669
02     520
05     467
04     367
03     356
Name: 1, dtype: int64

In [59]:
df_train['time'] = df_train['사고일시'].str.split(expand=True)[1]
df_test['time'] = df_test['사고일시'].str.split(expand=True)[1]

In [60]:
df_train.drop(['사고일시'], axis = 1,inplace = True)
df_test.drop(['사고일시'], axis = 1,inplace = True)

In [61]:
df_train.head()

    요일 기상상태            시군구      도로형태 노면상태  사고유형  사망자수  중상자수  경상자수  부상자수 time
0  화요일   맑음   대구광역시 중구 대신동  단일로 - 기타   건조  차대사람     0     1     0     0   00
1  화요일   흐림  대구광역시 달서구 감삼동  단일로 - 기타   건조  차대사람     0     0     1     0   00
2  화요일   맑음  대구광역시 수성구 두산동  단일로 - 기타   건조  차대사람     0     0     1     0   01
3  화요일   맑음   대구광역시 북구 복현동  단일로 - 기타   건조   차대차     0     1     0     0   02
4  화요일   맑음   대구광역시 동구 신암동  단일로 - 기타   건조   차대차     0     0     1     0   04

# 요일

In [63]:
df_train.요일.value_counts()

금요일    6179
화요일    6023
수요일    5969
월요일    5895
목요일    5759
토요일    5670
일요일    4114
Name: 요일, dtype: int64

In [64]:
df_test.요일.value_counts()

금요일    1743
토요일    1638
목요일    1636
화요일    1599
수요일    1592
월요일    1587
일요일    1168
Name: 요일, dtype: int64

In [65]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['요일'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['요일'])], axis=1)

In [66]:
df_train.drop(['요일'], axis = 1,inplace = True)
df_test.drop(['요일'], axis = 1,inplace = True)

In [69]:
df_train.head()

,기상상태,시군구,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수,time,금요일,목요일,수요일,월요일,일요일,토요일,화요일
0,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,0,1,0,0,00,0,0,0,0,0,0,1
1,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,0,0,1,0,00,0,0,0,0,0,0,1
2,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,0,0,1,0,01,0,0,0,0,0,0,1
3,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,0,1,0,0,02,0,0,0,0,0,0,1
4,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,0,0,1,0,04,0,0,0,0,0,0,1

# 기상상태

In [70]:
df_train['기상상태'].value_counts()

맑음    36181
비      2627
흐림      729
기타       56
안개        8
눈         8
Name: 기상상태, dtype: int64

In [71]:
df_test['기상상태'].value_counts()

맑음    10321
비       394
흐림      207
기타       31
눈        10
Name: 기상상태, dtype: int64

In [72]:
df_train.drop(df_train[df_train['기상상태'] == '안개'].index, axis = 0, inplace = True)

df_train.reset_index(drop=True, inplace = True)

In [73]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['기상상태'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['기상상태'])], axis=1)

df_train.drop(['기상상태'], axis=1, inplace = True)
df_test.drop(['기상상태'], axis=1, inplace = True)

In [74]:
df_train.drop(columns='기타', axis=1,inplace=True)
df_test.drop(columns='기타', axis=1,inplace=True)

In [77]:
df_train.head(2)

,시군구,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수,time,금요일,목요일,수요일,월요일,일요일,토요일,화요일,눈,맑음,비,흐림
0,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,0,1,0,0,00,0,0,0,0,0,0,1,0,1,0,0
1,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,0,0,1,0,00,0,0,0,0,0,0,1,0,0,0,1

# 시군구

In [78]:
df_train['구'] = ''

for i in range(len(df_train)):
    df_train.iloc[i, 20] = df_train.iloc[i, 0].split()[1]

df_train.drop(['시군구'], axis=1, inplace = True)

In [81]:
df_test['구'] = ''

for i in range(len(df_test)):
    df_test.iloc[i, -1] = df_test.iloc[i, 0].split()[1]

df_test.drop(['시군구'], axis=1, inplace = True)

In [82]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['구'])], axis=1)

df_test = pd.concat([df_test, pd.get_dummies(df_test['구'])], axis=1)

In [83]:
df_train.drop(['구'], axis = 1,inplace = True)
df_test.drop(['구'], axis = 1,inplace = True)

In [84]:
df_train.head()

,도로형태,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수,time,금요일,목요일,...,비,흐림,남구,달서구,달성군,동구,북구,서구,수성구,중구
0,단일로 - 기타,건조,차대사람,0,1,0,0,00,0,0,...,0,0,0,0,0,0,0,0,0,1
1,단일로 - 기타,건조,차대사람,0,0,1,0,00,0,0,...,0,1,0,1,0,0,0,0,0,0
2,단일로 - 기타,건조,차대사람,0,0,1,0,01,0,0,...,0,0,0,0,0,0,0,0,1,0
3,단일로 - 기타,건조,차대차,0,1,0,0,02,0,0,...,0,0,0,0,0,0,1,0,0,0
4,단일로 - 기타,건조,차대차,0,0,1,0,04,0,0,...,0,0,0,0,0,1,0,0,0,0

In [85]:
df_test.head()

,도로형태,노면상태,사고유형,time,금요일,목요일,수요일,월요일,일요일,토요일,...,비,흐림,남구,달서구,달성군,동구,북구,서구,수성구,중구
0,교차로 - 교차로안,건조,차대사람,01,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,단일로 - 기타,건조,차대사람,01,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,교차로 - 교차로안,건조,차대차,04,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,단일로 - 기타,건조,차대차,04,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,교차로 - 교차로안,건조,차대차,06,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

# 도로형태

In [86]:
df_train['도로형태'].value_counts()

단일로 - 기타           19481
교차로 - 교차로안          9928
교차로 - 교차로부근         5746
기타 - 기타             1986
교차로 - 교차로횡단보도내      1474
단일로 - 지하차도(도로)내      309
주차장 - 주차장            236
단일로 - 교량             231
단일로 - 고가도로위          138
단일로 - 터널              64
미분류 - 미분류              8
Name: 도로형태, dtype: int64

In [87]:
df_test['도로형태'].value_counts()

단일로 - 기타           5039
교차로 - 교차로안         2540
교차로 - 교차로부근        1673
기타 - 기타             752
교차로 - 교차로횡단보도내      480
단일로 - 지하차도(도로)내     273
단일로 - 교량             74
주차장 - 주차장            64
단일로 - 고가도로위          52
단일로 - 터널             15
미분류 - 미분류             1
Name: 도로형태, dtype: int64

In [92]:
df_train['도로형태'] = df_train['도로형태'].str.split(expand=True)[0]
df_test['도로형태'] = df_test['도로형태'].str.split(expand=True)[0]

In [93]:
df_train['도로형태'].value_counts()

단일로    20223
교차로    17148
기타      1986
주차장      236
미분류        8
Name: 도로형태, dtype: int64

In [94]:
df_test['도로형태'].value_counts()

단일로    5453
교차로    4693
기타      752
주차장      64
미분류       1
Name: 도로형태, dtype: int64

In [95]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['도로형태'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['도로형태'])], axis=1)

df_train.drop(['도로형태'], axis=1, inplace = True)
df_test.drop(['도로형태'], axis=1, inplace = True)

In [96]:
df_train.drop(columns = ['기타', '미분류'], axis=1, inplace = True)
df_test.drop(columns = ['기타', '미분류'], axis=1, inplace = True)

In [98]:
df_train.head(1)

,노면상태,사고유형,사망자수,중상자수,경상자수,부상자수,time,금요일,목요일,수요일,...,달서구,달성군,동구,북구,서구,수성구,중구,교차로,단일로,주차장
0,건조,차대사람,0,1,0,0,00,0,0,0,...,0,0,0,0,0,0,1,0,1,0

# 노면상태

In [99]:
df_train['노면상태'].value_counts()

건조       36420
젖음/습기     3095
기타          56
서리/결빙       24
침수           3
적설           3
Name: 노면상태, dtype: int64

In [100]:
df_test['노면상태'].value_counts()

건조       10394
젖음/습기      524
기타          35
서리/결빙        7
침수           2
적설           1
Name: 노면상태, dtype: int64

In [101]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['노면상태'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['노면상태'])], axis=1)

df_train.drop(['노면상태'], axis=1, inplace = True)
df_test.drop(['노면상태'], axis=1, inplace = True)

In [102]:
df_train.drop(columns=['기타'], axis=1, inplace=True)
df_test.drop(columns=['기타'], axis=1, inplace=True)

In [103]:
df_train.head(1)

,사고유형,사망자수,중상자수,경상자수,부상자수,time,금요일,목요일,수요일,월요일,...,수성구,중구,교차로,단일로,주차장,건조,서리/결빙,적설,젖음/습기,침수
0,차대사람,0,1,0,0,00,0,0,0,0,...,0,1,0,1,0,1,0,0,0,0

# 사고유형

In [106]:
df_train['사고유형'].value_counts()

차대차     31777
차대사람     6833
차량단독      991
Name: 사고유형, dtype: int64

In [107]:
df_test['사고유형'].value_counts()

차대차     8559
차대사람    2079
차량단독     325
Name: 사고유형, dtype: int64

In [108]:
df_train = pd.concat([df_train, pd.get_dummies(df_train['사고유형'])], axis=1)
df_test = pd.concat([df_test, pd.get_dummies(df_test['사고유형'])], axis=1)

df_train.drop(['사고유형'], axis=1, inplace = True)
df_test.drop(['사고유형'], axis=1, inplace = True)

# Save

In [110]:
df_train.columns

Index(['사망자수', '중상자수', '경상자수', '부상자수', 'time', '금요일', '목요일', '수요일', '월요일',
       '일요일', '토요일', '화요일', '눈', '맑음', '비', '흐림', '남구', '달서구', '달성군', '동구',
       '북구', '서구', '수성구', '중구', '교차로', '단일로', '주차장', '건조', '서리/결빙', '적설',
       '젖음/습기', '침수', '차대사람', '차대차', '차량단독'],
      dtype='object')

In [111]:
df_test.columns

Index(['time', '금요일', '목요일', '수요일', '월요일', '일요일', '토요일', '화요일', '눈', '맑음', '비',
       '흐림', '남구', '달서구', '달성군', '동구', '북구', '서구', '수성구', '중구', '교차로', '단일로',
       '주차장', '건조', '서리/결빙', '적설', '젖음/습기', '침수', '차대사람', '차대차', '차량단독'],
      dtype='object')

In [112]:
len(df_train.columns)

35

In [113]:
len(df_test.columns)

31

In [116]:
df_train = df_train.astype('float')
df_test = df_test.astype('float')

In [117]:
df_train.to_csv("../data/df_train_002.csv", encoding='utf-8', index=False)
df_test.to_csv("../data/df_test_002.csv", encoding='utf-8', index=False)